@{
    ViewData["Title"] = "About";
}

<h2>@ViewBag.Title</h2>

<h3>@Model.FirstName @Model.LastName</h3>

<p>Programming languages</p>
<ul>
@foreach (var language in Model.ProgrammingLanguages)
{
    <li>@language</li>
}
</ul>

<p>Web development</p>
<ul>
@foreach (var webTool in Model.WebDevelopmentTools)
{
    <li>@webTool</li>
}
</ul>

<p>Databases</p>
<ul>
@foreach (var database in Model.Databases)
{
    <li>@database</li>
}
</ul>
